nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-image {
  width: 64px;
  display: flex;
}

.search-bar {
background: white;
margin-right: 20px;
display: flex;
justify-content: center;
align-items: center;
}

.search-bar input {
padding: 10px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 3px;
border: none;
}

.search-bar input:focus {
  outline: none;
}

.search-bar-btn button {
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
}

.pokedex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App {
  text-align: center;
}
